<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<body>
	<div class="container">
		<div class="header">
			<h3 class="title text_center">자유게시판</h3>
			<div class="search">
				<select id="search_option" onchange="lock()">
					<option value="all">전체</option>
					<option value="title">제목</option>
					<option value="name">이름</option>
					<option value="content">내용</option>
					<option value="title_name">제목+이름</option>
				</select> <input type="text" id="search_text" />
				<button type="button" onclick="search()">검색</button>
			</div>
		</div>
		<div class="body">
			<table class="board-list">
				<tr>
					<th width="10%">번호</th>
					<th width="40%">제목</th>
					<th width="20%">이름</th>
					<th width="20%">날짜</th>
					<th width="10%">조회</th>
				</tr>
				<#if !boardList?hasContent>
				<tr>
					<td colspan="5">하이</td>
				</tr>
				</#if>
				<#list boardList as board>
				<td>${board.id}</td>
				<td>${board.title}</td>
				<td>${board.u_id}</td>				
				<td>${board.regdata}</td>				
				</#list>
			</table>
		</div>
	</div>
</body>
</html>
