<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style>
body, h1 {
	font-family: "Raleway", sans-serif;
}

body, html {
	height: 100%;
}

.bgimg {
	background-image: url('/img/cash.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#sidebar {
	z-index: 3;
	width: 250px;
	font-weight: bold;
	display: none;
	right: 0;
	background-color: rgba(50, 50, 50, 0.1);
}

.w3-bar-item {
	color: white;
}

a {
	font-weight: bold;
}

a:hover {
	background-color: rgba(50, 50, 50, 0.1);
	color: gray;
	text-decoration: none;
}
</style>
<body>
	<nav class="w3-sidebar w3-bar-block w3-top w3-large w3-animate"
		id="sidebar">
		<a href="javascript:void()" onclick="w3_close()" class="w3-bar-item w3-center w3-padding-32">CLOSE</a>
		<a href="#" onclick="w3_close()" class="w3-bar-item w3-center w3-padding-16">about POLL CASH</a>
		<a href="#" onclick="w3_close()" class="w3-bar-item w3-center w3-padding-16">news</a>
		<a href="#" onclick="w3_close()" class="w3-bar-item w3-center w3-padding-16">event</a>
		<a href="#" onclick="w3_close()" class="w3-bar-item w3-center w3-padding-16">contact us</a>
	</nav>

	<div class="bgimg w3-display-container w3-animate-opacity w3-text-sand">
		<div class="w3-display-topright w3-padding-large w3-xlarge">
			<a href="#" class="w3-xlarge w3-theme w3-bar-item"
				onclick="w3_open()" id="menu">Menu</a>
		</div>

		<div class="w3-display-middle">
			<h1 class="w3-jumbo">Poll for cash.</h1>
			<hr class="w3-border-grey" style="margin: auto; width: 40%">
			<p class="w3-large w3-center">THE POLL CASH</p>
		</div>
		<div class="w3-display-bottomleft w3-padding-large">
			Advertisement - 010 3381 8934 <a href="https://www.naver.com/"
				target="_blank">Ad</a>
		</div>
	</div>

	<script>
		function w3_open() {
			document.getElementById("sidebar").style.display = "block";
			document.getElementById("menu").style.display = "none";

		}

		function w3_close() {
			document.getElementById("sidebar").style.display = "none";
			document.getElementById("menu").style.display = "block";
		}
	</script>

	<!-- bootstrap script -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
